<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>有家</title>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

	<div class="container">

		<!-- 导航条 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<a class="navbar-brand">有家</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="/home">主页
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/LogOut">登出</a></li>
			<li class="nav-item"><a class="nav-link" href="/reg">注册</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Welcome <%= returnName %></a>
			</li>
			<li class="nav-item dropdown"><a
				class="nav-link" 
				id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
				aria-expanded="false"> 制作者信息:潘 19计算机2班</a>
				</li>
		</ul>
	</div>
</nav>

		<!-- 内容  -->
		<div class="row" style="margin-top: 10px">

			<div class="col-lg-3">

                <!-- 左边栏 -->
				<div class="list-group">
					<a href="/myInfo" class="list-group-item list-group-item-action">我的信息</a>
					<a href="/animallist"
						class="list-group-item list-group-item-action">领养列表</a> <a
						href="/myapply"
						class="list-group-item list-group-item-action">我的领养申请</a> <a
						href="/anipost" class="list-group-item list-group-item-action">流浪动物上传</a>
					<a
						href="/LogOut" class="list-group-item list-group-item-action">登出</a>
				</div>
            
            
            </div>

			<div class="col-lg-9">


				<div class="card">
					<div class="card-header">流浪动物信息上传</div>
					<div class="card-body">

						<p style="color: red"><%= returnVal%></p>

						<form method="get" action="/apost"
							enctype="multipart/form-data">
							<div class="form-group row">
								<label for="inputEmail3" class="col-sm-3 col-form-label">名字</label>
								<div class="col-sm-8">
									<input type="text" name="name" class="form-control"
										id="inputEmail3" placeholder="名字" required>
								</div>
							</div>


							<div class="form-group row">
								<label for="inputPassword3" class="col-sm-3 col-form-label">性别</label>
								<div class="col-sm-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="sex"
											value="男" id="sex1"> <label class="form-check-label"
											for="sex1">男</label>
									</div>
								</div>
								<div class="col-sm-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="sex"
											value="女" id="sex2"> <label class="form-check-label"
											for="sex2">女</label>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="inputEmail3" class="col-sm-3 col-form-label">年龄</label>
								<div class="col-sm-8">
									<input type="text" name="age" class="form-control"
										id="inputEmail3" placeholder="年龄" required>
								</div>
							</div>

							<div class="form-group row">
								<label for="inputPassword3" class="col-sm-3 col-form-label">动物种类</label>
								<div class="col-sm-3">
									<select class="form-control" id="exampleFormControlSelect1"
										name="animal">
										<option value="猫">猫</option>
										<option value="犬">犬</option>
									</select>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" placeholder="品种"
										name="variety">
								</div>
							</div>


							<div class="form-group row">
								<label for="inputPassword3" class="col-sm-3 col-form-label">是否已打疫苗</label>
								<div class="col-sm-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="vaccine"
											value="是" id="vaccine1"> <label
											class="form-check-label" for="vaccine1">是</label>
									</div>
								</div>
								<div class="col-sm-1">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="vaccine"
											value="否" id="vaccine2"> <label
											class="form-check-label" for="vaccine2">否</label>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="inputPassword3" class="col-sm-3 col-form-label">联系电话</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" placeholder="电话"
										name="phone">
								</div>
							</div>
							
							<div class="form-group row">
								<label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">其他</label>
								<div class="col-sm-8">
									<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="补充"
										rows="3" name="other"></textarea>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary">上传</button>
								</div>
							</div>
						</form>



					</div>
				</div>


			</div>

		</div>

	</div>

</body>
</html>